<h3>Salutare, {{ user.firstName }} {{ user.lastName }}!</h3>
<p>
  Bine ai venit în platforma de spălătorie a căminului M. Kogălniceanu! 
  Te rugăm să confirmi adresa de email apăsând pe link-ul de mai jos.
</p>
<p>
  <a href="{{ url }}">Confirmă adresa de email</a>
</p>